/* Background rotation */
.blob {
    position: fixed;
    border-radius: 50%;
    filter: blur(75px); 
    z-index: -100;
    opacity: 0.55;
    animation: orbit 30s infinite linear;

    &.blob-1 {
        width: 50vw;
        height: 50vw;
        background-color: #9AB0FD; 
        top: -10%;
        left: 0;
        transform-origin: 50vw 60vh;
    }

    &.blob-2 {
        width: 30vw;
        height: 30vw;
        background-color: #00D05F; 
        top: 15%;
        right: 1%;
        transform-origin: -19vw 35vh;
    }

    &.blob-3 {
        width: 15vw;
        height: 15vw;
        background-color: #FFE35E; 
        bottom: -25%;
        left: 15%;
        transform-origin: 35vw -60vh;
    }

    &.blob-4 {
        width: 40vw;
        height: 40vw;
        background-color: #D5D5D5; 
        bottom: 0%;
        right: 0%;
        transform-origin: -10vw -10vh;
    }
}

.grain-overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    opacity: 0.04;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

@keyframes orbit {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Phone */
@media (max-width:1024px) {

    .blob {
        filter: blur(75px);

        &.blob-1 {
            width: 80vw;
            height: 80vw;
            background-color: #9AB0FD; 
            top: -10%;
            left: 0;
            transform-origin: 40vw 50vh;
        }

        &.blob-2 {
            width: 50vw;
            height: 50vw;
            background-color: #00D05F; 
            top: 15%;
            right: 1%;
            transform-origin: -9vw 25vh;
        }

        &.blob-3 {
            width: 25vw;
            height: 25vw;
            background-color: #FFE35E; 
            bottom: -25%;
            left: 15%;
            transform-origin: 25vw -50vh;
        }

        &.blob-4 {
            width: 55vw;
            height: 55vw;
            background-color: #D5D5D5; 
            bottom: 0%;
            right: 0%;
            transform-origin: 0vw 0vh;
        }
    }
}