:root{
        background-color: rgba(252, 248, 248);
}

nav{
    padding:25px 0px 25px 0px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color: rgba(252, 248, 248, 0.5)
}

nav img{
    margin: 0px 0px 0px 135px;
    height:50px;
    width: 312px;
    justify-content:left;
}

#nav-text{
    margin: 0px 135px 0px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    gap:75px;
}